/* master styles*/
.heading {
	font-weight: bold;
	font-family: Impact, fantasy;
	font-size: 48px;
	text-decoration-style: dashed;
	text-decoration-line: underline; 
	text-align : center;
	background: linear-gradient(35deg, #800000, rgb(255,222,173), rgb(230,230,250), rgb(225,0,255), rgb(135,206,235));
	color: #DC143C;
	text-transform: uppercase;

}
header {
	background-color: #55DDAA;
	align-content: left;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Balsamiq Sans', cursive;
	display: flex;
	justify-content: space-between;

}

body {
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr;
}

/* NavBar styles */

#logo {
	margin: 0px;
	padding: 0px;
	width: 150px;
	float: left;
	align-self: left;
	align-content: left;
	align-items: left;
}

nav {
	float: right;
}

nav ul {
	margin-right: 20px;
	padding: 0px;
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	line-height: 20px;
	position: relative;
}
nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bolder;
	padding: 7px,13px;
	border-radius: 4px;
}

nav a:hover {
	color: #000;
	font-size: 26px;
	font-style: italic;
	padding: 2px; 
}
/*
nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	background-color: #444;
	position: absolute;
	top: 0px;
	margin-top: 0px;
	transition: all ease-in-out 200ms;
}

nav a:hover::before {
	width: 100%;
}
*/
.checkbtn {
	font-size: 30px;
	color: #444;
	float: right;
	margin: 0px;
	line-height: 100px;
	margin-right: 40px;
	cursor:  pointer;
	display: none;
}

#check {
	display: none;
}
/* Slogan */

#slogan {
	color: 	#4B0082;
	font-family: 'Balsamiq Sans', cursive;
	font-style: italic;
	font-variant: small-caps;
	margin-right: 20px;
	height: 40px;
	width: 30%;
	animation-name: movement;
	animation-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

/* Content of body */
.content-wrapper {

}

.items-wrapper {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;

}

.item-wrapper {
	position: relative;

}

.img-text {
	margin-bottom: 10px;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;

}

.image img {
	height: 350px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.img-text .subtext {
	font-family: 'Balsamiq Sans', cursive;
	transition: 1s;
	font-weight: 600;
}

.img-text:hover .subtext {
	font-weight: 600;
	color: lightseagreen;
}

/* About Page*/

.two-column-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
	width: 100%
}

.about {
	padding: 30px;

}

.about h1{
	font-family: 'Balsamiq Sans', cursive;
	color: lightseagreen;
}

.about p {
	font-family: 'Balsamiq Sans', cursive;
}

/* courses page */

.back-img {
	margin: 0px;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background.jpg");
	height: 150vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Media and KeyFrames */
@keyframes movement {
  0% {
    background-color: #FFFAFA;
    margin-left: 0px;
  }
  25% {
    background-color: #FFE4E1;
    margin-left: 400px;
  }
  50% {
    background-color: rgb(255,105,180);
    margin-left: 800px;
  }
  75% {
  	background-color: #FFE4E1;
  	margin-left: 400px;
  }
  100%{
  	background-color: #FFFAFA;
  	margin-left: 0px;
  }
}

/* Media styles */
@media (max-width: 1000px) {
	nav ul li a {
		font-size: 16px
	}
@media (max-width: 950px){
	.checkbtn {
		display: block;
	}
	nav ul {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a {
		font-size: 20px;
		color: #0082e6;
	}
	
	a:hover,a.active {
		background: none;
		color: #0083E6;
	}

	#check:checked ~ ul {
		left: 0;

	}
}